.privacy{
    width: 85vw;
    height: 100vh;
    margin-left: 13vw;
}
.acc-section{
    width: 85vw;
    margin-left: 9.5%;
   
    
}
.title{
font-family: Segoe UI;
font-style: normal;
font-weight: bold; 
margin-left: 9.5%;
font-weight: 600;
font-size: 20px;
line-height: 27px;
margin-top: 2%;
}
.sub-title{
    font-family: Segoe UI;
font-style: normal; 
margin-left: 9.5%;
font-weight: 500;
font-size: 16px;
line-height: 27px;
margin-top: 1%;

    
}
.allow{
    font-family: Segoe UI;
    font-style: normal; 
    margin-left: 9.5%;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    margin-top: 1%;
    
}


.untitle{
    Width:250px;
    Height:40px;
    border-radius: 0px;
    font-weight: normal;
    font-size: 13px;
    border: 0.5px solid #56B280;
    box-sizing: border-box;
    margin-left: 10%;
    color: #616161;
}
.priv-tag{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    margin-top: 2%;
    position: relative;
    padding-right: 80px;
}
.line{
    width: 80%;
}

