.privacy{
    width: 85vw;
    height: 100vh;
    margin-left: 13vw;
}
.privacy-section{
    width: 85vw;
    margin-left: 9.5%;
   
    
}
.title-one{
    font-family:  Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 41px;
    margin-left: 10%;
    font-weight: 600;


}
.priv-tag{
    font-family:  Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 2%;
}
.input-one{
    margin-right: 10px;
    margin-left: 100px;
    
}

.input-two{
    margin-right: 10px;
    margin-left: 20px;
    
}
.input-3{
    margin-left: 45px;
    margin-right: 10px;
    margin-top: 15%;
}
.inp-rad{
    margin-top: 10%;
}
.sub-title{
font-family:  Segoe UI;
font-style: normal;
font-weight: normal;
font-size: 20px;
margin-left: 10%;
margin-top: 1%;

    
}
.allow-pri{
    font-family:  Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    margin-left: 155px;   
    color: rgba(0, 0, 0, 0.57); 
    margin-top:10%;
    margin-right: 40px;
    
}
.allow-pri2{
    font-family:  Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: flex-end;
    margin-left: 155px;   
    color: rgba(0, 0, 0, 0.57); 
    margin-top:10%;
    margin-right: 35px;
}


.privacy-title{
    Width:250px;
    Height:40px;
    border-radius: 0px;
    font-weight: normal;
    font-size: 13px;
    border: 0.5px solid #56B280;
    box-sizing: border-box;
    margin-left: 10%;
    color: #616161;
    margin-top: 11%;
}
.con-com{
 margin-left: 10%;
}
.hper-link{
    margin-left: 10%;
}
.lin-PE{
    width: 100%;
}
